<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net471" />
  <package id="net.sf.mpxj" version="8.0.6" targetFramework="net471" />
  <package id="net.sf.mpxj-common" version="8.0.6" targetFramework="net471" />
  <package id="net.sf.mpxj-ikvm" version="8.0.6" targetFramework="net471" />
</packages>